@media (max-width: 84em) {
  .container {
    max-width: 120rem;
  }

  .container-footer {
    max-width: 120em;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.2%;
  }

  .logos {
    width: 100%;
  }

  /* .section-grow {
    max-width: 112rem;
  }

  .cta-bg {
    max-width: 112rem;
  }

  .container-footer {
    max-width: 112rem;
  } */
}

@media (max-width: 69em) {
  .container {
    /* max-width: 100rem; */
  }
  html {
    font-size: 50%;
  }
  .section-grow {
    max-width: 112rem;
  }

  .cta-bg {
    max-width: 112rem;
  }

  .container-footer {
    max-width: 112rem;
  }
}

@media (max-width: 61em) {
  .features-heading {
    font-size: var(--heading-tertiary);
  }

  .cta-heading {
    font-size: var(--heading-tertiary);
  }

  .features-grid-item-p {
    font-size: 1.6rem;
  }

  .step-p {
    font-size: 1.6rem;
  }

  .section-heading h1 {
    font-size: 4.8rem;
  }

  .section-grow {
    max-width: 106rem;
  }

  .cta-bg {
    max-width: 106rem;
  }

  .container-footer {
    max-width: 106rem;
  }

  .step-number {
    font-size: 8rem;
  }
}

@media (max-width: 55em) {
  .section-grow {
    max-width: 100rem;
  }

  .cta-bg {
    max-width: 100rem;
  }

  .container-footer {
    max-width: 100rem;
  }

  .section-step-grid {
    max-width: 100rem;
  }

  .values-p {
    font-size: 1.6rem;
  }
}

@media (max-width: 49em) {
  .header {
    flex-direction: column;
    gap: 4rem;
  }
  .section-heading h1 {
    font-size: 3.6rem;
    text-align: center;
  }

  .section-heading p {
    text-align: center;
    width: 100%;
    font-size: 1.6rem;
  }

  .cta-btn {
    max-width: 20rem;
  }

  .cta-hero-form {
    justify-content: center;
  }

  .section-grow {
    max-width: 80rem;
  }

  .cta-heading {
    font-size: 3rem;
  }

  .cta-bg {
    max-width: 80rem;
  }

  .cta-bg p {
    max-width: 57rem;
  }

  .container-footer {
    max-width: 80rem;
  }

  .section-value-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
  }
  .section-grow h2 {
    font-size: 3.6rem;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .section-hero-img {
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 35em) {
  .section-features {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-step-grid {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .step-1-img {
    grid-row: 1;
  }
  .step-3-img {
    grid-row: 5;
  }

  .features-grid-item-p,
  .step-p,
  .section-heading p {
    font-size: 2rem;
  }

  .section-heading h1 {
    font-size: 4.8rem;
  }

  .section-grow-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-grow {
    max-width: 60rem;
  }

  .cta-bg {
    max-width: 60rem;
  }

  .cta-heading {
    font-size: 3.6rem;
  }

  .cta-bg p {
    max-width: 48rem;
  }

  .section-cta-form {
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
  }

  .container-footer {
    max-width: 60rem;
  }

  .logos img {
    width: 30%;
  }
}

@media (max-width: 31em) {
  html {
    font-size: 40%;
  }
  .cta-hero-form {
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
  }

  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .cta-bg {
    max-width: 50rem;
  }

  .section-grow {
    max-width: 50rem;
  }

  .section-features {
    grid-template-columns: 1fr;
  }

  .features-grid-item {
    max-width: 70%;
    justify-self: center;
  }

  .container-footer {
    max-width: 50rem;
  }
}
